
.itg-navbar {
    background-color: #ffd400;

    font-family: 'BlenderPro-Bold', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 30px;
}

.badge {
    margin-left: 10px;
    font-family: 'BlenderPro-BoldItalic', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    padding: 5px 5px;
    background: var(--win-color, #ff0000);;
    color: white;
    border-radius: 6px;
}

.itg-container {
    padding: 5px;
}


.card-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
}


.w-100-below-md {
    width: 100%;
}
@media (min-width: 768px) {
    .w-100-below-md {
        width: auto;
    }
}

