<!-- src/app/card/card.component.html -->
<div class="itg-card" [style.--itg-accent]="card.Color || '#ff0000'">

  <div class="itg-card-border">
    <div class="itg-card-image"
         [style.background-image]="'url(public/assets/output/' + card.ImagePath + ')'"
         aria-hidden="true"></div>

    <div class="itg-card-middle d-flex flex-row align-items-center ">
      <div class="itg-card-cost d-flex flex-row align-items-center justify-content-center">

          <img class="itg-card-cost-icon" src="assets/images/clock_icon.png" >

        <div>  <h2>{{ card.Clock }}</h2></div>
      </div>
      <div class="itg-card-title d-flex flex-column  justify-content-center">
        <h3>{{ card.CardName }}</h3>
      </div>
    </div>

    <div class="itg-card-type d-flex ">
      {{card.Type}} | {{card.Rarity}}
    </div>

    <div class="itg-card-description d-flex flex-row  ">
      <div class="itg-card-vim-container">
        <div *ngFor="let _ of vimArray; let i = index" class="d-flex flex-row justify-content-center align-items-center">
          <!-- contenido por cada iteración -->
         <div class="itg-card-vim-icon"> </div>
        </div>
      </div>
      <div class="itg-card-description-container d-flex flex-column">

        <div class="d-flex flex-row" *ngFor="let row of sanitizedDescriptions">
          <div>
            <img  src="assets/images/description_bullet.png"  class="itg-card-description-bullet"/>
          </div>
          <div class="itg-card-description-item" [innerHTML]="row"></div>
        </div>


        <div *ngIf="card.Conditional.length > 0"  class="itg-card-description-validation">
          <div class="inner" [innerHTML]="sanitizedConditional"></div>
        </div>

        <div class="d-flex flex-row" *ngFor="let row of sanitizedConditionalDescriptions">
          <div>
            <img  src="assets/images/description_bullet.png"  class="itg-card-description-bullet"/>
          </div>
          <div class="itg-card-description-item" [innerHTML]="row"></div>
        </div>
      </div>
    </div>
  </div>


</div>
