



.card-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
}




.w-100-below-md {
    width: 100%;
}
@media (min-width: 768px) {
    .w-100-below-md {
        width: auto;
    }
}

