/* You can add global styles to this file, and also import other style files */
//@import "/node_modules/bootstrap/scss/bootstrap-grid.scss";
@import 'bootstrap/dist/css/bootstrap-grid.min.css';

@font-face {
  font-family: 'BlenderPro-Medium';
  src: url('assets/fonts/BlenderPro-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BlenderPro-BoldItalic';
  src: url('assets/fonts/BlenderPro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'BlenderPro-Bold';
  src: url('assets/fonts/BlenderPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Firefox */
html,
body {
    scrollbar-width: thin; /* 'auto' | 'thin' | 'none' */
    scrollbar-color: #ffd400 transparent; /* thumb color | track color */
    background-color: #121212;
    background-image: url('assets/images/Texture_Grid04.png');
    background-repeat: repeat;
    background-position: top left;
    background-size: 20px 20px;
}

/* WebKit (Chrome, Edge, Safari) */
*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: transparent; /* minimalista: pista transparente */
}

*::-webkit-scrollbar-thumb {
    background-color: #ffd400; /* amarillo */
    border-radius: 999px; /* forma redondeada */
    border: 2px solid transparent; /* espacio limpio alrededor */
    background-clip: padding-box; /* evita que el borde opaque el color */
    box-shadow: none; /* sin sombras para mantener minimalista */
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #ffcc00; /* ligera variación al pasar el ratón */
}

*::-webkit-scrollbar-corner {
    background: transparent;
}
